
.pavigation{
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .pre-btn, .next-btn{
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .page-btn{
    width: 2rem;
    height: 2rem;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
    transition: var(--transition);
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
  }
  .active-btn{
    background: var(--clr-ff514e);
    color: var(--clr-white);
  }